.pad-3 {

    padding-top: 3% !important;

    padding-bottom: 3% !important;

}



// .animated {

//     animation-duration: 3s;

//     animation-fill-mode: both;

// }



.width-100 {

    width: 100% !important;

}



.homefeatures .features-section {

    margin-bottom: 40px;

    float: left;

}



.nopads {

    padding: 0 !important;

}



.f-right {

    float: right !important;

}



.heading3 {

    font-size: 14px;

    letter-spacing: inherit;

    font-weight: 700;

    text-transform: uppercase;

    margin: 0;

    padding: 0;

    color: #000;

}



.decor {

    color: #000;

    text-decoration: none;

    &:hover {

        color: #000;

        cursor: pointer;

    }

}



.separator-small {

    height: 2px;

    width: 30px;

    background: #e6af2a !important;

}



.homefeatures .features-section .separator-small {

    margin: 5% auto;

}



.parapara {

    margin: 0 0 15px;

}