<div>
    <section class="pad-3">
        <div class="container width-100">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="padding-margin text-center text-uppercase">abelini jewellery</h1>
                    <div class="col-md-6">
                        <h4 class="heading1">British jewellery with peace of mind</h4>
                        <p>Our beautiful jewellery can be delivered to your doorstep - free of cost. Simply order
                            online. We use fully-insured shipment to deliver your order with peace of mind.</p>
                        <p>If, for any reason, you are not completely satisfied with your purchase, you can send your
                            order back, no quibble, for a full refund.</p>
                        <p>Your purchase at ABELINI is secured by the best security systems online. We ensure that every
                            transaction made on our website is secure – we offer safe payment methods like PayPal, and
                            keep your data secure.</p>
                    </div>
                    <div class="col-md-6">
                        <h4 class="heading1">Delivering top quality</h4>
                        <p>All our diamond jewellery is made in well-established workshop by our in-house craftsmen. Our
                            workshops have the most up-to-date equipment and follow the most advanced processes to
                            produce captivating pieces of jewellery.</p>
                        <p>Using CAD (Computer Aided Design) and CAM (Computer Aided Manufacture) technology enables us
                            to design and make beautiful, high standard pieces of jewellery. We ensure authenticity and
                            quality of all our jewellery – each piece is reviewed before being shipped to the customer.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="wide-separator-line"></div>
</div>