<div>
    <div class="bg-color">
        <div class="container">
            <div calss="row">
                <div class="col-md-3 col-sm-6 text-center">
                    <div class="row-md-6">
                        <i class="icon-global icon-large white-text">.</i>
                    </div>
                    <div class="row-md-6">
                        <a class="no-decor-no"><H6 class="feature-style">FREE DELIVERY</H6></a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6  text-center">
                    <div class="row-md-6">
                        <a class="no-decor-no"><img src="../../../assets/return.png" alt="60 days return"></a>
                    </div>
                    <div class="row-md-6">
                        <a class="no-decor-no"><h6 class="feature-style">60 DAYS RETURN</h6></a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6  text-center">
                    <div class="row-md-6">
                        <a class="no-decor-no"><img src="../../../assets/gift_box.png" alt="60 days return"></a>
                    </div>
                    <div class="row-md-6">
                        <a class="no-decor-no"><h6 class="feature-style">PRESENTATION BOX</h6></a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6  text-center">
                    <div class="row-md-6">
                        <a class="no-decor-no"><img src="../../../assets/ring.png" alt="60 days return"></a>
                    </div>
                    <div class="row-md-6">
                        <a class="no-decor-no"><h6 class="feature-style">ONE FREE RESIZING</h6></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <app-customer-support></app-customer-support>
<app-benefits></app-benefits> -->