<div>
    <div class="support">
        <div class="container">
            <div class="row">
                <div class="row-md-2">
                    <h3 class="heading text-center">CUSTOMER SUPPORT</h3>
                </div>
                <div class="row-md-10 clearfix">
                    <ul class="support-list">
                        <li><a><img src="../../../assets/location.png" alt="location" class="loc">
                            <br>VISIT OUR SHOWROOM</a>
                        </li>
                        <li><a><img src="../../../assets/livechat.png" alt="chat" class="pic">
                            <br>LIVE CHAT</a>
                        </li>
                        <li><a><img src="../../../assets/callus.png" alt="call" class="pic">
                            <br>CALL US</a>
                        </li>
                        <li class="no-border"><a><img src="../../../assets/emailus.png" alt="email" class="pic">
                            <br>EMAIL US</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>