<section class="width-100 height col-md-12 col-sm-12 no-padding bg-skin">
    <div class="col-md-6 col-sm-12 col-xs-12 no-padding overflow">
        <a href="http://localhost:4200/Banner">
            <img src="../../../assets/Images/mothers-day-banner.png">
        </a>
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12 no-padding text-center">
        <div class="slider-text-middle-main padding-two margin-top-50">
            <div class="slider-text-middle padding-left-right-px animated fadeInUp">
                <div class="red-box">
                    <div class="banner-title text-center">
                        <img class="center-block margin-two lazyloaded" src="../../../assets/Images/mothersday_sale_text.png"
                            alt="Mother's Day Sale">
                    </div>
                    <a href="http://localhost:4200/Banner" class="counter">Hurry, Sale Ends In
                        <p class="timer" id="bf_Interval1">
                            <span class="bftimer">3D</span>
                            <span class="bftimer">23H</span>
                            <span class="bftimer">30M</span>
                            <span class="bftimer">18S</span>
                        </p>
                    </a>
                    <div class="box">
                        <div class="left-col">
                            <span>UPTO</span>
                            <div>
                                <span class="txtPrice">78</span>
                                <span class="percent"></span>
                                <span>OFF</span>
                            </div>
                            <span class="high-street-text">HIGH STREET</span>
                        </div>
                        <div class="right-col">
                            <span>Extras</span>
                            <div>
                                <span class="txtPrice">20</span>
                                <span class="percent"></span>
                                <span>OFF</span>
                            </div>
                            <span class="clear-both">ON EVERYTHING</span>
                        </div>
                    </div>
                    <div class="clear-both">
                        <a href="http://localhost:4200/Banner" class="btn-blackfriday margin-four">SHOP NOW</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>