<div>
    <section class="cream-color padding-2">
        <div class="container width-100">
            <div class="row">
                <div class="hover-border text-md-left col-md-3 col-sm-6 col-xs-12 text-block text-center">
                    <div class="text-block-inner">
                        <p class="para"><img src="../../../assets/britain.png" alt="britain flag"></p>
                        <p class="para text-large text-uppercase no-margin-bottom">handcrafted in</p>
                        <p class="title-small text-uppercase font-weight-600 black-text letter-spacing-1">britain</p>
                        <a class="highlight-button btn btn-small no-margin">DISCOVER NOW!</a>
                    </div>
                </div>
                <div class="hover-border col-md-3 col-sm-6 col-xs-12 text-block text-center">
                    <div class="text-block-inner">
                        <p class="para"><img src="../../../assets/warranty.png" alt="britain flag"></p>
                        <p class="para text-large text-uppercase no-margin-bottom">lifetime</p>
                        <p class="title-small text-uppercase font-weight-600 black-text letter-spacing-1">warranty</p>
                        <a class="highlight-button btn btn-small no-margin">DISCOVER NOW!</a>
                    </div>
                </div>
                <div class="hover-border col-md-3 col-sm-6 col-xs-12 text-block text-center">
                    <div class="text-block-inner">
                        <p class="para"><img src="../../../assets/try-at-home.png" alt="britain flag"></p>
                        <p class="para text-large text-uppercase no-margin-bottom">free sample</p>
                        <p class="title-small text-uppercase font-weight-600 black-text letter-spacing-1">try at home</p>
                        <a class="highlight-button btn btn-small no-margin">DISCOVER NOW!</a>
                    </div>
                </div>
                <div class="hover-border col-md-3 col-sm-6 col-xs-12 text-block text-center">
                    <div class="text-block-inner">
                        <p class="para"><img src="../../../assets/happy-customers.png" alt="britain flag"></p>
                        <p class="para text-large text-uppercase no-margin-bottom">independent reviews</p>
                        <p class="title-small text-uppercase font-weight-600 black-text letter-spacing-1">happy customers</p>
                        <a class="highlight-button btn btn-small no-margin">DISCOVER NOW!</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>