<div>
    <section class="pad-2">
        <div class="container width-100">
            <div class="homepinksection row">

                <div class="col-md-6 col-sm-12 no-padding-left box-left">
                    <div class="col-md-12 col-sm-12 back-pink no-pad">
                        <div class="col-md-6 col-sm-6 f-left no-pad">
                            <a class="anch"><img
                                    srcset="../../../assets/abelini-store-mobile.jpg 414w, ../../../assets/abelini-store.jpg 1800w"
                                    sizes="(min-width:768) 1800px, (max-width: 640) 50vw"
                                    alt="abelini-jewellery_store" class="img1"></a>
                        </div>
                        <div class="col-md-6 col-sm-6 text-right pad-6">
                            <h3 class="headings-3">try & feel</h3>
                            <h2 class="headings-2 padding-4">visit showroom</h2>
                            <p class="para">Visit our showroom at Hatton Garden (London) for a one-to-one consultation.
                                We offer a
                                totally no-pressure environment, so you choose the perfect diamond jewellery for you.
                                Schedule an appointment to view our selection of diamond rings and fine jewellery today.
                            </p>
                            <a class="highlight-button btn btn-small no-margin">BOOK APPOINTMENT NOW</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12 no-padding-right box-right">
                    <div class="col-md-12 col-sm-12 back-beige no-pad">
                        <div class="col-md-6 col-sm-6 f-right no-pad">
                            <a class="anch"><img
                                    srcset="../../../assets/bespoke-design-mobile.jpg 414w, ../../../assets/bespoke-design.jpg 1800w"
                                    sizes="(min-width:768) 1800px, (max-width: 640) 50vw"
                                    alt="abelini-jewellery_store" class="img1"></a>
                        </div>
                        <div class="col-md-6 col-sm-6 text-left pad-6">
                            <h3 class="headings-3">Create Own Design</h3>
                            <h2 class="headings-2 padding-4">Bespoke Design Service</h2>
                            <p class="para">ABELINI Jewellery have the ability to transform the latest trends and
                                preferences of style into bespoke jewellery through exquisite design. If you are looking
                                for a unique design that is made for you, ABELINI will make your dream a reality.
                            </p>
                            <a class="highlight-button btn btn-small no-margin">REQUEST BESPOKE DESIGN</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
</div>