<div class="width-100 bg-skin height-32 padding-5">
    <div class="flip-text">
        <div class="text-front text-center">
            <a href="http://localhost:4200/abelini">
                <span>MOTHERS DAY SALE GET 20% OFF&nbsp;</span>
                <span class="shop-now-button">Shop Now</span></a>
            <div class="text-back text-center">
                <a href="http://localhost:4200/abelini">
                    <span>Mothers Day Sale ends in&nbsp;</span>
                    <span class="timer">
                        <span>3D&nbsp;</span>
                        <span>23H&nbsp;</span>
                        <span>37M&nbsp;</span>
                        <span>29S&nbsp;</span>
                    </span>
                </a>
            </div>
        </div>
    </div>
</div>

<div class=" width-100 bg-black height-31">
    <div class="topbar-wrap">
        <div class="row">
            <div class="col-md-4">
                <span>
                    <img class="star" src="../../../assets/Images/star.svg">
                    <img class="star" src="../../../assets/Images/star.svg">
                    <img class="star" src="../../../assets/Images/star.svg">
                    <img class="star" src="../../../assets/Images/star.svg">
                    <img class="star" src="../../../assets/Images/star.svg">
                </span> &nbsp;
                <a href="abelini">OUR CUSTOMER LOVES US</a>
            </div>
            <div class="col-md-4 text-center">
                <a href="abelini">100% MONEY BACK GUARANTEE</a>
            </div>
            <div class="col-md-4">
                <a href="abelini">UP TO 78% OFF HIGH STREET</a>
            </div>
        </div>
    </div>
</div>

<div class="width-100 bg-white height-56 border-bottom">
    <div class="row">
        <div class="col-md-5 left-header-block text-md-left">
            <span class="phone-section">
                <img class="phone" src="../../../assets/Images/iphone-icon-vector-illustration-260nw-234353785.png">
                <a href="tel:+44 (0) 02038051270">+44 (0) 02038051270</a>
            </span> &nbsp;
            <span class="icon-24by7">24/7</span>
            &nbsp;&nbsp;
            <span class="visit-showroom">
                <img class="phone" src="../../../assets/Images/maps-and-flags.svg">
                <a href="visitShowroom">VISIT OUR SHOWROOM</a>
            </span>
        </div>
        <div class="col-md-3 header-block text-md-left">
            <a href="http://localhost:4200/abelini">
                <img src="https://static.abelini.com/catalog/view/theme/default/image/logo-dark.png">
            </a>
        </div>
        <div class="col-md-4 right-header-block text-right">
            <span>
                <a class="col-md-4 text-left" href="http://localhost:4200/abelini">
                    <img class="phone" src="../../../assets/Images/man-user.svg">LOGIN</a>
                <a class="col-md-4 text-left" href="http://localhost:4200/abelini">
                    <img class="phone" src="../../../assets/Images/heart.svg">&nbsp;WISH LIST</a>
                <a class="col-md-4 text-left" href="http://localhost:4200/abelini">
                    <img class="phone" src="../../../assets/Images/shopping-bag.svg">0 ITEM(S)</a>
            </span>
        </div>
    </div>
</div>

<div class="width-100 bg-white min-height max-height">
    <div class="search-icon col-md-5 text-center">
        <img class="phone" src="../../../assets/Images/magnifying-glass.svg">
    </div>
</div>
