/* You can add global styles to this file, and also import other style files */
body {
    font-family: 'Open Sans',sans-serif !important;
    -webkit-font-smoothing: antialiased;
    line-height: 23px;
    letter-spacing: .02em !important;
    color: #626262;
    font-size: 14px;
}
